@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

html {
    box-sizing: border-box;
    font-family: "East Sea Dokdo", sans-serif;
}

/* Reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* Main Styling */

body {
    background-image: url("../images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.header {
    text-align: center;
    padding: 1.5rem;
}

.header__title {
    font-size: 5rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom__btn,
.clear__btn {
    padding: .5rem;
    border-style: solid;
    border-width: .5rem;
    margin: .2rem;
    font-family: "East Sea Dokdo", sans-serif;
    font-size: 1.2rem;
}

.instructions__para {
    margin-top: 3.5rem;
    font-size: 1.2rem;
    background-color: #EAFDFC;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    padding: 1rem;
}

.grid {
    display: grid;
    gap: 5px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin: 3rem 3rem;
    height: 800px;
    width: 800px;
    background-color: #82AAE3;
}

.square {
    background-color: #EAFDFC;
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
}